
# Usage

## Snapshots

Snapshots of master are automatically published to sonatype.

To use from maven add the sonatype snapshot repository:

```xml
  <repositories>
    <repository>
      <id>ossrh</id>
      <url>https://oss.sonatype.org/content/repositories/snapshots</url>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </repository>
  </repositories>
```

And add the ErisCasper.java dependency:

```xml
  <dependency>
    <groupId>com.github.princesslana</groupId>
    <artifactId>ErisCasper.java</artifactId>
    <version>${project.version}</version>
  </dependency>
```

